
/* BASE
--------------------------------------------- */

html {
  background: $white;
  height: 100%;
}

body {
  font: normal 400 18px/1.6 $body;
  background: transparent;
  color: $black-alt2;
  text-align: center;
  min-width: 200px;
  height: 100%;
  @include breakpoint(small) { color: $black }
}

.wrapper {
  max-width: em(550,18);
  position: relative;
  margin: 0 auto;
  z-index: 2;
  width: 90%;
  @include breakpoint(medium) {
    max-width: none;
    width: 70%;
  }
  @include breakpoint(small) { width: 80% }
  @include breakpoint(tiny) { width: 88% }
  @include breakpoint(tiny-s) { width: 90% }
  @include breakpoint(watch) { width: 82% }
}

article {
  -webkit-font-smoothing: subpixel-antialiased;
  position: relative;
  text-align: left;
  z-index: 3;
  @media (min-height: 880px) and (min-width: 1300px) { font-size: 19px }
  @media (min-height: 980px) and (min-width: 1350px) { font-size: 20px }
  @media (max-width: 1100px) { font-size: 17px }
  @media (max-height: 700px) { font-size: 17px }
  @include breakpoint(medium) { font-size: 16px }
  @include breakpoint(small) { font-size: 15px }
  @include breakpoint(watch) { font-size: 12px }
}
